.card {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-top {
    display: flex;
    gap: 5px;
}

.card-top-avatar {
    flex: 1;
    display: flex;
    gap: 10px;
    width: 30px;
    height: 30px;
}

.card-top svg {
    opacity: 0;
    transition: 200ms;
}

.card:hover .card-top svg {
    opacity: 1;
}

.card-title {
    font-weight: bold;
}

.card-footer svg {
    height: 14px;
    width: 14px;
}

.card-footer p {
    align-items: center;
    display: flex;
    gap: 5px;
}

.card-top-more {
    position: relative;
    cursor: pointer;
}

.card-dropdown {
    color: #fff;
    background-color: #ea6f6f;
    width: 115px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.15);
}